.container{
  box-shadow: inset 0 7px 20px -14px rgba(255, 255, 255, 1)
}

@keyframes animacionTexto {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animar_p {
  white-space: nowrap;
  overflow: hidden;
  animation: animacionTexto 20s linear infinite; /* Ajusta la duración según tus preferencias */
}