/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,500;0,600;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */




 @font-face {
  font-family: 'photograph_signatureregular';
  src: url('../public/fonts/photograph_signature/photograph_signature-webfont.woff2') format('woff2'),
       url('../public/fonts/photograph_signature/photograph_signature-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #151934;
  --qwik-dark-text: #ffffff;

  --hamu-primary-blue: #48a8b9;

}

h1{
  font-family: 'Bebas Neue', sans-serif;
}

p{
  font-family: 'Montserrat', sans-serif;
}
/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
 *,*::after,*::before, html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


